<div class="images-container">
<img src="img/autoportrety/1.JPG" />
<img src="img/autoportrety/2.JPG" />
<img src="img/autoportrety/3.JPG" />
<img src="img/autoportrety/4.JPG" />
</div>

<p>
 W pracy tej obszarem moich rozmyślań stał się autoportret jako opis stanu psychicznego. Wizerunki utrwalone w gipsie są tu skatalogowanymi szkicami emocji towarzyszących akcie twórczym. Charakterystyczne cechy fizjonomiczne własnej twarzy zostały pominięte na rzecz ekspresji ujawniającej się w procesie. Różnicuję je skalą odpowiadającą ilości czasu poświęconemu w ich tworzenie. Studium zostało zatracone całkowicie. W jego miejsce wprowadziłam gest oraz odbicia linii papilarnych i dłoni.
</p>