<div class="images-container">
	<img src="img/budki/1.jpg" />
	<img src="img/budki/2.jpg" />
	<img src="img/budki/3.jpg" />
	<img src="img/budki/4.jpg" />
</div>

<p>
 Do stworzenia moich nietypowych budek, wybrałam technikę szydełkowania, ponieważ przywodzi na myśl robótki naszych babć i kojarzy się z troską, z jaką starsze pokolenie wytwarzało dla nas w dzieciństwie ciepłe szaliki i czapki
</p>
<p>
 Do pracy wykorzystałam naturalne materiały takie, jak nić konopna oraz sznur sizalowy.
</p>
<p>
 Budki są miękkie i lekkie. Ich przenoszenie i zamocowanie na gałęzi nie wymaga wysiłku. Bez trudu poradzi sobie z tym zadaniem zarówno osoba starsza, słabsza czy dziecko.
</p>
<p>
Wielkość budek będzie odpowiadać mniejszym i średnim ptakom leśnym.
</p>
<p>
W najbliższym czasie chciałabym stworzyć siedzisko, będące miejscem obserwacyjnym środowiska leśnego. Swoim kształtem i materiałem będzie nawiązywać do budek, które wykonałamn. Siedząc we wnętrzu siedziska, łatwo ulegniemy iluzji przebywania w jednej z budek, tym samym stając się na chwile lesnym ptakiem.
</p>