<div class="images-container">
<img src="img/fetysze/1.jpg" />
<img src="img/fetysze/2.jpg" />
<img src="img/fetysze/3.jpg" />
<img src="img/fetysze/4.jpg" />
<img src="img/fetysze/5.jpg" />
<img src="img/fetysze/6.jpg" />
</div>

<p>
 "Fetysze" to seria inspirowana najstarszymi na świecie obiektami artystycznymi - paleolitycznymi wenus. Wydają się one być czymś więcej niż karc się odpowiedżykaturalnym wizerunkiem kobiety.
</p>
<p>
Wielu badaczy łaczy je z powstaniem pierwszych wierzeń i kultem płodności. W tych niepozornych obiektach może kryć się odpowiedż na pytanie o początek i powód tworzenia sztuki przez człowieka. Możemy łaczyć  je z instynktem przetrwania gatunku. Pragnąc lepiej je poznać, zaczęłam tworzyć własne - uwspółcześnione o ergonomiczny kształt i własną wizję. Są to także rzeźby bliskie zmysłom bardziej dotyku niż wzroku. Ich haptyczność podkreślam w zaakcentowanej fakturze, małej skali i syntetycznym kształcie. Mają stać się obiektem pożądania i próba dotarcia do własnej wewnętrznej mitologii.
</p>