<div class="images-container">
<img src="img/mokosze/1.JPG" />
<img src="img/mokosze/2.JPG" />
<img src="img/mokosze/3.JPG" />
<img src="img/mokosze/4.JPG" />
<img src="img/mokosze/5.JPG" />
<img src="img/mokosze/6.JPG" />
<img src="img/mokosze/7.JPG" />
<img src="img/mokosze/8.JPG" />
</div>

<p>
Pojęcie ziemi jako matki należy do jednych z najstarszych wyobrażeń religijnych.
Słowianskim odpowiednikiem bogini płodności jest Mokosz, którą zwykło się
dziś łączyć z kultem „matki ziemi wilgotnej”. W swojej pracy pragnę ożywić rodzimy kult stawiając bogini ołtarzyki (bałwany) w
naturalnych otwartych przestrzeniach lasów oraz nad rzekami odwołując się do
tradycji modlitwy w “świętych gajach”. Obiekty zbudowane są z cieńkich nylonowych worków wypełnionych piaskiem.
Mokrza to jeden z przydomków bogini. Słowo mąka znaczyło dawniej jednocześnie ciasto i mieszenie (męłcie), 
a nie sypką mąkę i wiązało się ze znaczeniem mokry, lepki. Motać (mołtać, moktać) znaczyło nie tylko nawijać, naplątywać, ale i mówić (mołwa – mowa).
O przydomku „Mokrza” warto dodać, że oznacza on boginię Mokrokrzewiącą, Mokrokrzeszącą,
co się odnosi do rozkrzewiania i krzesania Nieci Żywota na Bańskich Łąkach, 
skrapiania ich Żywą Wodą oraz rozczesywania. Z powodu owej ożywiającej właściwości wody z Bańskiej Łąki i 
studzien Mokoszów w razie suszy nie tylko składa się ofiary bogom Wód, ale i odprawia obrzędy mające zyskać 
przychylność Mokoszów (Mokoszy i Dodoli lub Makosza-Dodola), by woda, która spadnie, była dobra, ożywiająca zwiędłe rośliny.
</p>
<p>
Przydomek Mąksza został omówiony wyżej, tu trzeba dodać dwa znaczenia miękki i męka– obydwa wychodzące, 
tak samo jak mąka, z rdzenia mięk – oznaczającego ugniatanie, gniecenie, urabianie.
</p>
<p>
Monstrualność Mokoszy budzi lęk, gdyż nie nazlezy zapominać, że Matka Ziemia nie
tylko karmi i daje życie, ale też w chwilach ostatnich upomina się o nie i wraz z
ciałem pochłania je w swoim wnetrzu.
</p>