<dl>
  <h3>Edukacja</h3>

  <dt>2011-2014</dt>
  <dd>studia licencjackie na kierunku rzeźba, Wydział Rzeźby i Działań Przestrzennych, Uniwersytet Artystyczny w Poznaniu.</dd>
  
  <dt>2014</dt>
  <dd>uzyskanie dyplom z rzeźby o specjalnośći działania przestrzenne</dd>
  
  <dt>2014-2017</dt>
  <dd>studia magisterskie na kierunku rzeźba,Wydział Rzeźby i Działań Przestrzennych, Uniwersytet Artystyczny w Poznaniu.</dd>
  
  <dt>2017</dt>
  <dd>obrona dyplomu magisterskiego</dd>
  
  <h3>Wystawy wybrane</h3>
  
  <dt>2014</dt>
  <dd><h5>Signal Group 2014</h5>
  <p>Wystawa studentów WRiDP, Signal Group , Poznań.</p></dd>
  
  <dd><h5>Figurama 2014</h5>
  <p>Międzynarodowa wystawa sztuki figuratywnej Kutná Hora, GASK, Gallery of the Central Bohemian Region/ Coal Mine Michal/ FDA UWB Pilsen/ Centrum Kultury Zamek</p></dd>
  
  <dd><h5>D_14</h5>
  <p>Wystawa prac dyplomowych UAP, MTP, Poznań.</p></dd>
  
  <dd><h5>Akt II</h5>
  <p>Wystawa studentów Pracowni Rysunku Anatomicznego UAP, Skallar Office Center, Poznań.</p></dd>
  
  <dt>2015</dt>
  <dd><h5>PO DRZEWACH</h5>
  <p>The blue door ART GALLERY , Hotel Kolegiacki, Poznań</p></dd>
  
  <dd><h5>Mięso</h5>
  <p>(jako kurator) Wystawa rzeźby Izabeli Grudzińskiej, Galeria KONT, Poznań</p></dd>
  
  <dt>2015/2016</dt>
  
  <dd><h5>II Studenckie Biennale Małej Formy Rzeźbiarskiej im. prof. Józefa Kopczyńskiego</h5>
  <p>Galeria Promocyjna ASP, Akademia Sztuk Pięknych im. Jana Matejki w Krakowie/ASP Wrocław, Centrum Sztuk Użytkowych/ GALERIA AULA UAP</p></dd>
  
  <dt>2016</dt>
  
  <dd><h5>Gry Przestrzenne</h5>
  <p>Wystawa plenerowa prac studentów WRiDP UAP, Fundacja Rozwoju Miasta Poznania, Poznań 2016</p></dd>
  
  <dd><h5>Small Wonders 4 – An Exhibition of Tiny Art</h5>
  <p>wystawa małej formy. Atomic Cafe Gallery in Hamtramck (Michigan, USA)</p></dd>
  
  <dd><h5>Aukcja charytatywna dla Honoraty</h5>
  <p>Pirius, Fundacja jak Malowana, Poznań.</p></dd>
  
  <dd><h5>Damned IX - An Exhibition of Enlightened Darkness</h5>
  <p></p>Milwaukee St, Detroit (Michigan, USA)</dd>
  
  <h3>Plenery/warsztaty</h3>
  
  <dt>2012</dt>
  <dd>warsztaty koronczarskie z kierownik warsztatu krawieckiego School of Form - Dorotą Jasiak . School of Form, Poznań.</dd>
  
  <dt>2012</dt>
  <dd>warsztaty ceramiczne z Olgą Milczyńską . School of Form, Poznań.</dd>
  
  <dt>2013</dt>
  <dd>plener rysunkowo-malarski „Kontrapost” Pracowni Rysunku Anatomicznego oraz wydziału Grafiki Warsztatowej Warszawia. Dom Plenerowy Skoki</dd>
  
  <dt>2014</dt>
  <dd>plener rzeźbiarski „Ukierunkowanie/Umiejscownie” organizowany przez <b>Pracownie Rzeźby IX UAP oraz</b> Pracownię Grafiki w Krakowie. Dom Plenerowy Skoki</dd>
  
  <dt>2015</dt>
  <dd>plener rysunkowo-malarski Pracownia Rysunku Anatomicznego /ASP Warszawa, Wydział Grafiki Warsztatowej, Dom Plenerowy Dłużew</dd>
  
  <h3>Inne</h3>
  
  <dt>1.07-20.10.12</dt>
  <dd>wolontariusz, Mediations Biennale, Centrum Kultury Zamek</dd>
  
  <dt>29.07-1.11.12</dt>
  <dd>wolontariusz Ars Młodzi, Fundacja ARS Poznań</dd>
  
  <dt>2015/16</dt>
  <dd>wiceprzewodnicząca/założyciel Koło Naukowego WRiDP i Galerii KONT UAP</dd>
  
  <dt>2013</dt>
  <dd>projekt „Szlakiem lęgów”, współpraca z DPS Lisówki z VII Pracownią Rzeźby</dd>
  
  <dt>24-30.04 .2015</dt>
  <dd>kuratorka wystawy „Mięso” Izabeli Grudzińskiej, Galeria KONT UAP<br>
  Reprezentantka wydziału Rzeżby i działań Przestrzennych na stoisku UAP na Targi Edukacyjne MTP Poznań</dd>
</dl>

<p>
Akt drugi, katalog wystawy prac w Skalar Office Center , red. S.Kuszczak,
P.Flieger, Poznań 2014.
<a href="http://www.bg.uap.edu.pl/grafiki/pra.jpg">http://www.bg.uap.edu.pl/grafiki/pra.jpg</a>
D_14, Szlakiem lęgów, PO DRZEWACH , Wystawy końcoworoczne, strona
internetowa Pracowni Rzeźby 8;
<a href="www.rzezba8.blogspot">www.rzezba8.blogspot</a>
Katalog Figurama 2014;
<a href="http://figurama.cz/en/figurama-2/years/2014- 2/catalog-2014">http://figurama.cz/en/figurama-2/years/2014- 2/catalog-2014</a>
Katalog III Studenckie Biennale Małej Formy Rzeźbiarskiej im. prof. Józefa
Kopczyńskiego, red. J.Bogucki, I.Mikoda, D.Szafrański , Poznań 2015.
<a href="http://www.biennale.rzezba.pl/wp-content/uploads/2014/11/KATALOG-III- SBMFR-.pdf">http://www.biennale.rzezba.pl/wp-content/uploads/2014/11/KATALOG-III- SBMFR-.pdf</a>

Mieso, I.Grudzinska, ulotka promocyjna - tekst kuratorski, KONT, Poznań 2015.
<a href="http://wridp.pl/galeria-kont/">http://wridp.pl/galeria-kont/</a>
</p>